body {
    font-family: Arial, sans-serif;
}

.banner nav{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    background-color: blue;
    color: white;
    text-decoration: underline;
}
 h2  {
    font-size: 1.17rem;
}
.banner a {
    color: white;
    text-decoration: none;
    margin: 1.875rem 0;
}

.banner a:hover {
    text-decoration: underline;
}

.plane-row img {
    height: 9.375rem;
}

footer{
    text-align: center;
    font-size: 0.67rem;
}
