body {
    font-family: Arial, sans-serif;
}

.banner {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #87bdc3;
    color: white;
    text-decoration: underline;
}

.banner a {
    color: white;
    text-decoration: none;
    margin: 30px 0;
}

.banner a:hover {
    text-decoration: underline;
}

.plane-row img {
    height: 150px;
}

footer{
    text-align: center;
    font-size: 0.75rem;
}
